<!DOCTYPE html>
    <html>
       <head>
           <meta charset="utf-8" />
           <title>simple BBS</title>
       </head>
  
       <body>
           <h1>simpleBBS</h1>

           <% @s.each do |a| %>
               <form method="post" action="del">
                   <p>
                   <%= a.id %>
                   <%= a.name %>
                   <%= a.write_time %><br>
                   <%= a.message %>
                   <input type="submit" value="Delete">
                   <input type="hidden" name="id" value="<%= a.id %>">
                   <input type="hidden" name="_method" value="delete">
                   </p>
           </form>
           <% end %>

           <form method="post" action="new">
               <input type="text" name="name">
               <textarea required type="text" name="message" cols="60" rows="4">
                   Enter Write Message.
               </textarea>
               <p>
               <input type="submit" value="Write">
               <input type="reset" value="Reset">
               </p>
           </form>

     </body>
   </html>
