<!DOCTYPE html>
    <html>
       <head>
           <meta charset="utf-8" />
           <title>simpleBBS</title>
       </head>
  
       <body>
           <h1>simpleBBS</h1>

           <a id="top"></a>
           <a href="#write">書き込み欄へ</a>

           <% @s.each do |a| %>
                <form method="post" action="del">
                   <p>
                   <%= a.id %>
                   <%= a.name %>
                   <%= a.write_time %>
                   <input type="submit" value="Delete">
                   <input type="hidden" name="id" value="<%= a.id %>">
                   <input type="hidden" name="_method" value="delete"><br>
                   <%= a.message %>
                   </p>
                </form>
           <% end %>

           <form method="post" action="new">
               <input type="text" placeholder="Name" name="name"> <br>
               <textarea required type="text" name="message" rows="4" cols="60" placeholder="Enter Write Message."></textarea>
               <p>
               <input type="submit" value="Write">
               <input type="reset" value="Reset">
               </p>
           </form>

            <a id="write"></a>
            <a href="#top">書き込みを1から見る</a>

     </body>
   </html>
